<div class="messages">
    {%- for message in conversation.messages %}
        {%- if message.sender == conversation.username %}
        <div class="messages__message__right">
            <p class="messages__message__sender">{{ message.sender }}</p>
            {%- if message.contentType == "text" %}
                {%- for text in message.content %}
                <p class="messages__message__content__right">{{ text }}</p>
                {%- endfor %}
            {%- elif message.contentType == "photos" %}
                {%- for file in message.content %}
                <img class="messages__message__photo__right" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "gif" %}
                {%- for file in message.content %}
                <img class="messages__message__photo__right" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "sticker" %}
                {%- for file in message.content %}
                <img class="messages__message__sticker__right" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "video" %}
                {%- for file in message.content %}
                <video class="messages__message__video__right" width="480" height="360" controls>
                    <source src="{{ file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {%- endfor %}
            {%- elif message.contentType == "audio" %}
                {%- for file in message.content %}
                <audio class="messages__message__audio__right" controls>
                    <source src="{{ file }}" type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
                {%- endfor %}
            {%- endif %}
            {%- if message.addContent != "" %}
            <p class="messages__message__content__right">{{ message.addContent }}</p>
            {%- endif %}
            <p class="messages__message__date">On {{ message.date }}</p>
        </div>
        {%- else %}
        <div class="messages__message">
            <p class="messages__message__sender">{{ message.sender }}</p>
            {%- if message.contentType == "text" %}
                {%- for text in message.content %}
                <p class="messages__message__content">{{ text }}</p>
                {%- endfor %}
            {%- elif message.contentType == "photos" %}
                {%- for file in message.content %}
                <img class="messages__message__photo" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "gif" %}
                {%- for file in message.content %}
                <img class="messages__message__photo" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "sticker" %}
                {%- for file in message.content %}
                <img class="messages__message__sticker" src="{{ file }}">
                {%- endfor %}
            {%- elif message.contentType == "video" %}
                {%- for file in message.content %}
                <video class="messages__message__video" width="480" height="360" controls>
                    <source src="{{ file }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {%- endfor %}
            {%- elif message.contentType == "audio" %}
                {%- for file in message.content %}
                <audio class="messages__message__audio" controls>
                    <source src="{{ file }}" type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
                {%- endfor %}
            {%- endif %}
            {%- if message.addContent != "" %}
            <p class="messages__message__content">{{ message.addContent }}</p>
            {%- endif %}
            <p class="messages__message__date">On {{ message.date }}</p>
        </div>
        {%- endif %}
    {%- endfor %}
    </div>