<!DOCTYPE html>
<html lang="en">
<head>
    <title>Conversation with {{ conversation.title }}</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Beginning of the conversation with {{ conversation.title }}</h1>
    <h3>You are {{ conversation.username }}</h3>
    <div>
    {%- for message in conversation.messages %}
    {%- if message.sender == conversation.username %}
        <div style="text-align: right;">
            <p><strong>{{ message.sender }}</strong></p>
            <p><i>{{ message.date }}</i></p>
            <p>{{ message.content }}</p>
        </div>
    {%- else %}
        <div>
            <p><strong>{{ message.sender }}</strong></p>
            <p><i>{{ message.date }}</i></p>
            <p>{{ message.content }}</p>
        </div>
    {%- endif %}
    {%- endfor %}
    </div>
</body>
</html>