<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Conversation Messenger avec {{ conversation.title }}</title>
    <meta charset="utf-8">
</head>
<header>
    <h1>Conversation Messenger avec {{ conversation.title }}</h1>
    <div>
        <p><strong>Participants : </strong>
        {%- for participant in conversation.participants %}
        {%- if loop.last %}
            {{ participant.name }}.
        {%- else %}
            {{ participant.name }}, 
        {% endif %}
        {%- endfor %}
        </p>
    </div>
    <h3>Vous êtes {{ conversation.username }}</h3>
</header>
<body>
    <div>
    {%- for message in conversation.messages %}
        {%- if message.sender == conversation.username %}
        <div style="text-align: right;">
        {%- else %}
        <div>
        {%- endif %}
            <p><strong>{{ message.sender }}</strong></p>
            <p><i>Le {{ message.date }}</i></p>
            <p>{{ message.content }}</p>
        </div>
    {%- endfor %}
    </div>
</body>
<footer>
    <div>
        <p>Généré avec <a href="https://github.com/corrieriluca/JSON-to-HTML-Messenger-Parser">JSON to HTML Messenger Parser</a> le {{ date }}</p>
    </div>
</footer>
</html>